<!DOCTYPE html>
<head>
    <title> CramFactory </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='choose_option.css') }}">
    <body>
        <p class="help-text"> How can we help you? </p>

        <div class="outer-block">
            <div class="inner-block">
                <div class = "inner-inner-block">
                    <p class="text"> Get video recommentations </p>
                    <p class="subtext"> (Discover a curated selection of videos based on your topic) </p>
                </div>
                <a href="recommendations_form.html"> <button type="button" class="button get-rec-button"> Get recommentations > </button> </a>
            </div>

            <br>

            <div class="inner-block">
                <div class = "inner-inner-block">
                    <p class="text"> Make a study plan </p>
                    <p class="subtext"> (Get a curated study plan made just for you) </p>
                </div>
                <a href="studyplan_form1.html"> <button type="button" class="button get-plan-button"> Start planning > </button> </a>
            </div>
        </div>

    </body>
</head>